<div class="container px-5 md:w-2/3 lg:w-1/2 w-full">
  <%= render "shared/flash_messages" %>

  <h1 class="font-bold text-4xl">Sign in</h1>

  <%= form_with url: session_url, class: "contents" do |form| %>
    <div class="my-5">
      <%= form.label :email_address, class: "block text-sm font-medium text-gray-700" do %>
        Email address <span class="text-red-500">*</span>
      <% end %>
      <%= form.email_field :email_address, required: true, autofocus: true, autocomplete: "username", class: "block shadow-sm rounded-md border border-gray-400 focus:outline-blue-600 px-3 py-2 mt-2 w-full" %>
    </div>

    <div class="my-5">
      <%= form.label :password, class: "block text-sm font-medium text-gray-700" do %>
        Password <span class="text-red-500">*</span>
      <% end %>
      <%= form.password_field :password, required: true, autocomplete: "current-password", maxlength: 72, class: "block shadow-sm rounded-md border border-gray-400 focus:outline-blue-600 px-3 py-2 mt-2 w-full" %>
    </div>

    <div class="col-span-6 sm:flex sm:items-center sm:gap-4">
      <div class="inline">
        <%= form.submit "Sign in", class: "w-full sm:w-auto text-center rounded-md px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white inline-block font-medium cursor-pointer" %>
      </div>

      <div class="mt-4 text-sm text-gray-500 sm:mt-0">
        Don't have an account?
        <%= link_to "Sign up", new_registration_path, class: "text-gray-700 underline hover:no-underline ml-1" %>
      </div>
    </div>
  <% end %>
</div>