<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Hotwire Chat" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav class="fixed top-0 left-0 right-0 shadow-md py-5 bg-white flex justify-center z-9999">
      <div class="container px-5 flex justify-between items-center">
        <h1 class="text-xl font-bold">Hotwire-Chat</h1>

        <% if current_user %>
          <div class="flex gap-6 items-center">
            <span>Hello, <strong id="current_username"><%= current_user.username %></strong></span>
            <%= button_to "Log out",
                          session_path,
                          method: :delete,
                          class: "px-4 py-2 bg-gray-600 text-white rounded hover:bg-gray-700 transition text-sm" %>

          </div>
        <% end %>
      </div>
    </nav>
    <main class="mt-24 mb-10 flex justify-center">
      <%= yield %>
    </main>
  </body>
</html>
